# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OSX useful to ignore
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IntelliJ Idea family of suites
.idea
*.iml
## File-based project format:
*.ipr
*.iws
## mpeltonen/sbt-idea plugin
.idea_modules/

# Briefcase build directories
iOS/
macOS/
windows/
android/
linux/
django/

src/compare_my_stocks/.jedi/
src/compare_my_stocks/config/config.yaml
src/compare_my_stocks/config/myconfig.yaml
src/compare_my_stocks/config/testingconf.py
src/compare_my_stocks/data/hist_file.cache_old
src/compare_my_stocks/data/jupyter/.ipynb_checkpoints/
src/compare_my_stocks/graph/examp.py
src/compare_my_stocks/gui/icon.ico
src/compare_my_stocks/gui/icon.jpg
src/compare_my_stocks/ib/ibtestx.py
src/compare_my_stocks/iblog.txt
src/compare_my_stocks/ibsrv_error.log
src/compare_my_stocks/ibsrv_ready.txt
src/compare_my_stocks/jupyter/__init__.py
src/compare_my_stocks/resources/
src/compare_my_stocks/runibsrv.ps1
src/compare_my_stocks/runmain.ps1
src/compare_my_stocks/runsit.py.rej
src/compare_my_stocks/tags
src/compare_my_stocks/transactions/parsecsvo.py
src/compare_my_stocks/transactions/tags
src/compare_my_stocks/ttt/
src/compare_my_stocks/tags
src/compare_my_stocks/data/.virtual_documents
venv
rr.txt
mm.py
